@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
.color-empty {
  fill: #161b22;
}

.color-scale-1 {
  fill: #0e4429;
}

.color-scale-2 {
  fill: #006d32;
}

.color-scale-3 {
  fill: #26a641;
}

.color-scale-4 {
  fill: #39d353;
}

html,
body {
  overflow-x: hidden;
}

.clip-custom {
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #FFD557, #FFC20D);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #FFC20D, #FFD557);
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 5px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #FFC20D #121212;
}
