@import "tailwindcss";

html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 80px; /* Add padding for fixed header */
}
.color-empty {
  fill: #161b22;
}

.color-scale-1 {
  fill: #0e4429;
}

.color-scale-2 {
  fill: #006d32;
}

.color-scale-3 {
  fill: #26a641;
}

.color-scale-4 {
  fill: #39d353;
}

html,
body {
  overflow-x: hidden;
  min-height: 100vh;

  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;

  position: relative;
  overflow: hidden;
}

.clip-custom {
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ffd557, #ffc20d);
  border-radius: 5px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #ffc20d, #ffd557);
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 5px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffc20d #121212;
}

/* Default cursor will be used instead of custom cursor */

@media (hover: none) {
  /* Mobile styles */
}

/* Add smooth scroll class */
.smooth-scroll {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* For iOS smooth scrolling */
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.animate-blink {
  animation: blink 1s step-start infinite;
  width: 2px;
  height: 1.2em;
  background-color: currentColor;
  vertical-align: bottom;
}

@keyframes shine {
  0% {
    left: -60%;
    opacity: 0.05;
  }
  40% {
    opacity: 0.22;
  }
  60% {
    left: 120%;
    opacity: 0.22;
  }
  100% {
    left: 120%;
    opacity: 0;
  }
}
.animate-shine {
  animation: shine 1s linear forwards;
}
